<style>
    body {
        background-image: url(https://images.pexels.com/photos/2138922/pexels-photo-2138922.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
        background-repeat: no-repeat;
        background-size: cover;
        color:cyan;
    }
    *{
    color: aliceblue;
    }
</style>
{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{wtf.quick_form(registration_form)}}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock%}